	margin: 1000px;
        	h1 {
			font-size: 50px;
			color: #923eb8;
		}
		body {
			font-size: 20px;
			color: hotpink;
		}
                h2 {
                        font-size: 35px;
                        color: #f20a0a;
		}

		p1 {
                        font-size: 25px;
                        color: #22d652;
		}


		#I_Give_Up {
			border: red dashed;
			background-color: #22d652;
		}